@tailwind base;
@tailwind components;
@tailwind utilities;


.feed {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #5263EE;
        transition: all 0.4s linear;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #141f6d;
    }
}