@tailwind base;
@tailwind components;
@tailwind utilities;


.feed {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #FAED26;
        transition: all 0.4s linear;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #8a8106;
    }
}

&::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}

&::-webkit-scrollbar-track {
    width: 3px;
}

&::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #FAED26;
    transition: all 0.4s linear;
}

&::-webkit-scrollbar-thumb:hover {
    background: #8a8106;
}